#search-container
  .aw-item, .plugin-li
    box-sizing border-box
    $padding-n = 25px
    padding $padding-n $padding-n ($padding-n - 10px) $padding-n

    @media (max-width $MQMobile)
      &
        padding: $padding-n - 10px $padding-n - 10px 5px $padding-n - 10px

    &:not(:last-child)
      border-bottom 1px solid #eee

    &:first-child
      margin-top 0 !important

  .aw-item
    a
      text-decoration none
      color inherit
      font-weight 400

    p
      margin 0 0 10px

  .tip-recommend
    background-color #22ac38
    color #ffffff
    padding 2px 5px
    border-radius 3px
    margin-right 10px
    font-size 12px

  .aw-title a
    text-decoration underline
    font-size 16px

  .aw-hide-text
    font-size 12px
    color #828288

    .aw-search-result-tags
      background-color #ffffff
      color #ef5656
      margin-right 10px

  .aw-search-body
    font-size 14px
    color #666
    word-break: break-all;

  em
    font-weight bold
    font-style normal
    color $accentColor

  .plugin-li
    color rgba(0, 0, 0, 0.6)
    width 100%
    text-align -webkit-match-parent
    font-size 14px

    .pull-right
      float right !important

    .col-lg-9
      width 70%

    .col-lg-2
      width 16.66666667%

    .col-lg-6
      width 50%
      float left

    .col-md-6, .col-lg-6, .col-xs-12, .col-sm-12
      position relative
      min-height 1px
      padding-left 15px
      padding-right 15px

    a
      color inherit

    :before, :after
      box-sizing border-box

    .row
      margin-right -15px
      margin-left -15px

      &:before, &:after
        content ' '
        display table

      &:after
        clear both

    .card
      margin-bottom 15px
      border-radius 10px
      background-color #fff

      &:last-child
        margin-bottom 0

      .preview-img
        display inline-block
        max-height 192px
        padding-right 0
        float left
        overflow-y hidden

        img
          width 100%
          height auto
          vertical-align middle
          border 0

      .plugin-info
        padding-left 30px
        padding-right 0
        float left

      .row
        margin-bottom 8px

        &:last-child
          margin-bottom 0

    .extend-list
      margin 0
      position relative
      line-height 24px
      color #999
      transition all 0.3s

      .extend-list-header .extend-title a
        color #595a78
        font-size 16px

      .extend-list-desc
        color #424249
        font-size 14px

    .badge
      padding 2px 6px
      margin-left 5px
      display inline-block
      min-width 10px
      padding 3px 7px
      font-size 12px
      font-weight 700
      color #fff
      line-height 1
      vertical-align baseline
      white-space nowrap
      text-align center
      background-color #999
      border-radius 10px

      .bg-green, .bg-green:hover
        color #639069

      a.&:focus, a.&:hover
        color #fff
        text-decoration none
        cursor pointer

    h2
      margin-top 0
      padding-bottom 0
      font-size 100%
      line-height 20px
      color #333
      border none

    .ext-slg
      padding 0
      margin 0 auto
      width 14%
      float right
      text-align center

    .rating
      margin-top 10px

      .star-rating
        unicode-bidi bidi-override
        color #96969b
        font-size 0
        height 25px
        position relative
        display inline-block
        padding 0
        margin-left 0
        float left

        span
          padding 1px
          font-size 16px

      .star-rating-top
        color #fde16d
        padding 0
        position absolute
        z-index 1
        display inline-block
        top 4px
        left 4px
        overflow hidden
        white-space nowrap
        float left

        span
          width 20px
          height 16px
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAABDUlEQVQ4ja3SsS/DQRjG8c81YrLYxCz8pLHUYhCtzf9gtIilo1VM/gSmisR/YCCRSMTIyhEzo7nR9CytVPn112qf5Ib3fZ/73nO5o0ApaqQopahR5C0C1Tqg7qoN8pcKeAcF9XCwTopqX7s6KF3IAU3hBut/jO+wGTKtX7AUzWALS1jEApYxm5cAH3jCK17wjKuQonusDtg4rB5CipqYngCsWUJ9AiCol0LmGLtojwHaC5mT79dM0TbOFP+9XrWxEzKnejeGzLnRr7zfBf2AdfQ2Iuy9t+iHrYwI++EfF1b+D+wxpz8w2VxffYlKyJRRwUXffD7nEFJ0mKLPFN2maCPHs5ai6xS1UnTUO/sCG35T7tAgzwcAAAAASUVORK5CYII=') no-repeat
          background-size 16px

      .star-rating-bottom
        padding 4px
        display inline-block
        z-index 0
        float left

        span
          width 20px
          height 16px
          background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAYAAAC5DOVpAAABBElEQVQ4ja3Ur04DQRDH8U8vSAyOoFkIAUxRqFaC4BUIdQRTiW1ST4KCKmp4AwQIFBZSB2GDBskLQIPgStojd9d/Y3ZnfjPfzGYmW4kxKrErHKGLRlYMIfzdkxJQPQVJz3pRchmsVeKPDaujlonVFHSXB1tAO0drp/o/q8QYF7GHdaxhFRtYyusAn3jBGyJecVeJMT5ip6BwXHtKsD0HEGwlaM4J1kxwiWP0ZwCdhBA6g2l2cDgFsI9GCOGC0dW4NvmTT0MI3YGT3bP3CWEfw04WNulkR/JnhW1OA3vOiRd2tpzxb1FNO6jiJqOvFMHO8YUHvz/EPnqp1sMBdnGPb5wNF/8A+HAvGx6fm+sAAAAASUVORK5CYII=') no-repeat
          background-size 16px

      .glyphicon
        position relative
        top 1px
        display inline-block
        font-family 'Glyphicons Halflings'
        font-style normal
        font-weight 400
        line-height 1
        -webkit-font-smoothing antialiased
        -moz-osx-font-smoothing grayscale

    .extend-list-tag
      .badge.bg-orange
        color #ff7c00
        background rgba(255, 194, 0, 0.28) !important

      .badge.bg-green
        color #639069
        background-color #eff9f0 !important

    .extend-list-more
      font-size 13px
      color #828288
      line-height 40px

      .categorys
        width 45% !important

        a
          color #22ac38

      .col-lg-4
        float left

      .extend-list-user .avatar
        width 30px
        height 30px
        border-radius 100%
        margin-right 10px
        margin-left 10px