.custom-page-class{
	position: relative;
	/* 首页几个logo的排版 */
	.flex-img-group-view {
		display flex 
		flex-direction row 
		margin 10px 0
		.barcode-view {
			display flex
			align-items center
			flex-direction column
			margin 0 5px
			margin-bottom 20px
			b {
				text-align center
			}
		}
	}

	.uniapp-home-content {
		display flex
		flex-wrap wrap
		width 100%
		justify-content center
		.uniapp-home-content-item {
			margin-bottom 20px
			.uniapp-home-content-item-image {
				width 55px
				height 55px
				flex-shrink 0
				img {
					height 100%
				}
			}
			p.uniapp-home-content-item-text {
			  margin-bottom 0px 
			  letter-spacing 0px 
			  color #333 
			}
			.uniapp-home-content-item-title{
				font-size 16px
			}
		}
	}
	@media screen and (min-width: 768px) {
		.flex-img-group-view {
			justify-content space-around
		}
		.uniapp-home-content-item{
			width 32% 
		}
	}
	@media screen and (max-width: 600px) {
		.uniapp-home-content-item{
			width 100% 
			display flex
			flex-direction row
		}
		.uniapp-home-content-item-header {
		  display flex 
		  flex-direction column 
		  padding-left 15px 
		}
		.uniapp-home-content-item-title{
			line-height 10px
		}
	}
}

img {
  image-rendering: -moz-crisp-edges; /* Firefox*/
	image-rendering: -o-crisp-edges; /* Opera */
	image-rendering: -webkit-optimize-contrast; /*Webkit (non-standard naming) */
	image-rendering: crisp-edges;
	-ms-interpolation-mode: nearest-neighbor; /* I (non-standard property) */
}

body.forbid_scroll
	height 100%
	overflow hidden

main.page
	padding-bottom 0px

{$contentClass}:not(.custom) 
	> *:first-child
		margin-top 0
		@media (max-width: $MQMobile)
			&
				margin-top $navbarHeight

h1, h2, h3, h4, h5, h6

	{$contentClass}:not(.custom) > &
		margin-top (5rem - $navbarHeight)
		padding-top ($navbarHeight - 3rem)

		&:first-child
			margin-top (3rem - $navbarHeight)
			padding-top ($navbarHeight - 3rem)
			@media (max-width: $MQMobile)
				&	
					margin-top 3rem
@media (min-width: $MQMobile)
	.nav-dropdown
		z-index 1

.sidebar .sidebar-group.is-sub-group>.sidebar-heading:not(.clickable)
	opacity 1
