// 布局
$accentColor = #42b983
$contentWidth = 1200px
$navbarHeight = 9rem
$navbar-sub-navbar-height = 5rem
$navbar-background-color = #f7f7f7
$search-container-color = #f5f6f7
$vuepress-toc-width = 14rem
$vuepress-display-min-width = 1500px